In [1]:
import numpy as np
import pandas as pd

# Setting the zero matrix to 5 x 5

In [31]:
# Setting the zero matrix to 5 x 5
code = np.zeros((5, 5), dtype = int)
code

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [ ]:
# Setting the edges to ones 
code[0, :] = 1
code[-1, :] = 1 
code[:, 0] = 1
code[:, -1] = 1

# Setting the middle cell of the matrix to 9

In [28]:
#Setting the middle cell of the matrix to 9
code[2, 2] = 9

In [29]:
# Converting the matrix into DataFrame
data = pd.DataFrame(code)
data

   0  1  2  3  4
0  1  1  1  1  1
1  1  0  0  0  1
2  1  0  9  0  1
3  1  0  0  0  1
4  1  1  1  1  1

# Taking out the row and columns indices

In [32]:
#Taking out the row and columns indices
print(data.to_string(index = False, header = False) )

1 1 1 1 1
1 0 0 0 1
1 0 9 0 1
1 0 0 0 1
1 1 1 1 1